.card {
  @extend %hover-card;
  animation: aparecer 0.8s ease forwards; 
  
  width: 100%;
  padding: 20px;

  @include respond-to(tablet) {
    width: calc(100% / 2 - 40px); 
  }
  @include respond-to(desktop) {
    width: calc(100% / 3 - 40px);
  }

  img {
    transition: transform 0.3s ease; 
    &:hover {
      transform: scale(1.1) rotate(2deg); 
    }
  }
}